ion-content {
    --background: #000 url(../../../assets/img/bg.jpg) no-repeat center top / cover;
}

.padding-text {
    padding: 5px 15px 5px 15px;
}

.cost {
    font-size: 20px;
    font-weight: bold;
}

:host ::ng-deep img {
    width: auto;
    height: auto;
}

:host ::ng-deep li {
    margin-top: 10px;
}