ion-content {
    --background: #000 url(../../assets/img/bg_midia.jpg) no-repeat center top / cover;
}

ion-icon {
    padding-right: 60%;
    position: absolute;
}

ion-button {
    height: 3em;
}

.top {
    margin-top: 50%;
}